html,
body {
  background-color: #55b9f3;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: rgb(126, 25, 25);
  text-align: center;
  font-size: 1.2em;
}

* {
  box-sizing: border-box;
}

h {
  &1 {
    margin: 50px 0;
  }
  &3 {
    margin: 20px 0;
  }
}

#time-left {
  font-size: 2.5em;
}

button {
  cursor: pointer;
  width: 100px;
  height: 50px;
  margin: 0 5px;
  border-radius: 10px;
  background: #daeffc;
  outline: none;
  border: none;
}

#controls {
  color: rgb(241, 240, 240);
}

@media only screen and (min-width: 800px) {
  body {
    font-size: 1.5em;
  }
}
