.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.controls {
  border-radius: 27px;
  background: #55b9f3;
  box-shadow: -20px 20px 60px #489dcf, 20px -20px 60px #62d5ff;
  width: 60vw;
  padding: 1em;
  overflow: hidden;
}

.mod {
  button {
    background-color: rgb(164, 150, 148);
  }
}

.fa {
  color: rgb(241, 240, 240);
  font-size: 14px;
  width: 1.3em;
  &p {
    color: rgb(43, 35, 35);
    font-size: 14px;
    width: 1.3em;
  }
}

@media only screen and (min-width: 800px) {
  .mod {
    width: 60vw;
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
  }
}
