.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  background-color: transparent;
  width: 100px;
  height: 100px;
  background-color: brown;
}

.mod {
  display: flex;
  & > div {
    margin: 2em;
  }
}
